:root {
  --border-radius: 5px;
  --main-padding: 5px;
  --color-1: ;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.3fr 0.2fr;
  grid-template-areas:
    'nav nav nav nav'
    'profil main main main'
    'profil interessen fähigkeiten kontakt'
    'link1 link2 link3 link4'
    'footer footer footer footer';
  grid-gap: 0.2rem;
  text-align: center;
}

body {
    background: black;
}
main {
  background: white;
  grid-area: main;
}

nav {
  background: black;
  color: white;
  grid-area: nav;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

footer {
  background: black;
  color:white;
  grid-area: footer;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

#profil {
  background: white;
  grid-area: profil;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

#interessen {
  background: white;
  grid-area: interessen;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

#fähigkeiten {
  background: white;
  grid-area: fähigkeiten;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

#kontakt {
  background: white;
  grid-area: kontakt;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}


#link1 {
    background: white;
    grid-area: link1;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }

#link2 {
    background: white;
    grid-area: link2;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }

#link3 {
    background: white;
    grid-area: link3;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }
  #link4 {
    background: white;
    grid-area: link4;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }

ol {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.hl {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: upperclass;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2fr 2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      'nav'
      'profil'
      'main'
      'interessen'
      'fähigkeiten'
      'kontakt'
      'link1'
      'link2'
      'link3'
      'link4'
      'footer';
  } 
}

  .profil {
    height: 10vh;
    position: relative;
  }

  .link {
      position: relative;
      bottom: 5px;
      height: 15vh;
  }