footer {
  display: flex;
  justify-content: center;
  background: black;
  color: white;
  grid-area: footer;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
  margin-top: 0.5rem;
}

.footer__icons {
  height: 1rem;
  padding-right: 0.5rem;
  padding-left: 2rem;
}
