.interessen {
  display: flex;
  flex-direction: column;
  background: white;
  grid-area: interessen;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
  min-width: var(--main-width);
}
