#kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    grid-area: kontakt;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }

  .kontakt__icons {
      height: 3rem;
  }