#lakritzel {
    display: flex;
    justify-content: center;
    background: white;
    grid-area: lakritzel;
    border-radius: var(--border-radius);
    padding: 10px;
    }

    #lakritzel:hover {
        background: #D4D4D4;
        }