#lakritzel {
    background: white;
    grid-area: lakritzel;
    border-radius: var(--border-radius);
    width: var(--main-width);
    padding: 10px;
    }

    #lakritzel:hover {
        background: #D4D4D4;
        }