#link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    grid-area: link;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
    font-size: 2rem;
  }