.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center; */
  /* align-items: center; */
  background: white;
  grid-area: portfolio;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
  min-width: var(--main-width);
}

.portfolio__img {
  max-height: 7rem;
}
