#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;;
    background: white;
    grid-area: portfolio;
    border-radius: var(--border-radius);
    padding: var(--main-padding);
  }

  #portfolio:hover {
    background: #D4D4D4;
  }


  

