.rückblick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  grid-area: rückblick;
  border-radius: var(--border-radius);
  padding: var(--main-padding);
}

.rückblick__img {
  max-height: 10rem;
}
